<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Accounts - list</title>
  </head>
  <body>
    <h1>account list</h1>
    <!--{{accounts}}-->
    

    <table border="1px solid" width="1200">
      <tr>
        <th>id</th>
        <th>f_name</th>
        <th>l_name</th>
        <th>Email</th>
        <th>Password</th>
        <th>image</th>
        <th>Actions</th>
      </tr>
      {%for account in accounts%}
      <tr>
        <td>{{account.fid}}</td>
        <td>{{account.fname}}</td>
        <td>{{account.lname}}</td>
        <td>{{account.email}}</td>
        <td>{{account.password}}</td>
        <td>{{account.image}}</td>
        <td>
          <a href="http://127.0.0.1:8080/account/update_account/{{account.id}}"
            >Update</a
          >
          <a href="http://127.0.0.1:8080/account/delete_account/{{account.id}}"
            >Delete</a
          >
          <a
            href="http://127.0.0.1:8080/account/account_detail/{{ account.id}}/"
            >Details</a
          >
        </td>
      </tr>

      {%endfor%}
    </table>

    <h1>
      <div><a href="http://127.0.0.1:8080/account/create_account">Registeration</a></div>
        <div><a href="{% url 'login' %}">Log In</a></div>
    </h1>
    {% comment %} <input type="submit" value="Register" />
    
    <input type="submit" value="Login" <a href="{% url 'login' %}">Log In</a> /> {% endcomment %}
  </body>
</html>
