<div>
  <h1>Update account of id : {{id}}</h1>
</div>
{%block 'content'%}

<form method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  <label for="fname">First Name:</label>
  <input
    type="text"
    name="fname"
    id="fname"
    value="{{ account.fname }}"
    required
  />

  <label for="lname">Last Name:</label>
  <input
    type="text"
    name="lname"
    id="lname"
    value="{{ account.lname }}"
    required
  />

  <label for="email">Email:</label>
  <input
    type="email"
    name="email"
    id="email"
    value="{{ account.email }}"
    required
  />

  <label for="password">Password:</label>
  <input
    type="password"
    name="password"
    id="password"
    value="{{ account.password }}"
    required
  />

  <label>image:</label>
  <input type="file" name="acc_image"  id="image" value="{{ account.image}}" required />
  <button type="submit">Update Account</button>
</form>
<div style="color: red">
  <h1>{{error}}</h1>
</div>
{%endblock%}
